
<style>
  extra{}
  a {
    color:pink;
    text-decoration: none;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid grey;
    margin : 0px;
    padding: 20px;
  }
  h2 {
    font-size : 30px;
    text-align : center;

  }
  ol {
    border-right: 1px solid grey;
    width: 100px;
    margin : 0px;
    padding-left : 30px;
    padding-top : 20px;
  }
  body {
    margin : 0px;
    padding : 0px;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid #article{
    padding-left:20px;
    padding-right: 20px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right : none;
    }
    h1{
      text-align : justify;
      border-bottom : none;
    }
  }
</style>
